/*@charset "UTF-8"; --- padrão para acentuação

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Big+Shoulders+Inline:opsz,wght@10..72,100..900&family=Borel&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&display=swap');
--- fontes importadas do google fonts

@font-face {
    font-family: android;
    src: url(../fontes/idroid.otf)format('opentype');
    font-weight: normal;
} --- fontes importadas da pasta do servidor/computador
    */ 

@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Big+Shoulders+Inline:opsz,wght@10..72,100..900&family=Borel&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&display=swap');
@font-face {
    font-family: android;
    src: url(../fontes/idroid.otf)format('opentype');
    font-weight: normal;
}

/* :root{ -- ...: } adiciona variaveis no css  */
:root{
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --font-padrao: arial, verdana, helvetica, sans-serif;
    --fonte-destaque: "Bebas Neue";
    --fonte-androide: "android", cursive;
}
/* configuração GLOBAL css *{}... por padrão o navegador atribui margens as caixas usando a configuração global podemos zerar essa numeração  */
*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #c5ebd6;
    font-family: var(--font-padrao);      
}

a.externo::after{           /* ::after - significa depois dele no caso depois do link...*/
    content: '\00A0\1F517';    /* Tag para adicionar o emogi externo*/
}

header{
    background-image: linear-gradient(to top, var(--cor5), var(--cor2));
    min-height: 150px;      
    padding-top: 40px;             /*defne o espaçamento interno da caixa top para cima*/
    text-align: center;            /*alinhamento de texto ao centro*/
}

header > h1{ 
    color: white;       
    margin-bottom: 20px;
    text-shadow: 9px 6px 5px black;
    font-size: 3em;
    font-family: var(--fonte-destaque)
    
    
}
header > p{
    font-family: var(--font-padrao);            /*familia de fonte escolhida*/
    font-size: 1.2em;                           /*tamnho da fonte*/
    color: white;                             /*cor da fonte*/
    text-shadow: 9px 6px 5px black;           /*sombra de texto*/
    max-width: 500px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 50px;
  
    
}
nav{
    background-color: var(--cor5);
    padding: 10px;
    text-shadow: 0px 7px 7px black;     /*sombra de texto*/
    
}
nav > a{
    color: var(--cor1);
    padding: 10px;
    text-decoration: none;          /*retira o tracejado do texto*/
    font-weight: bold;              /*tag para fazer texto negrito*/
    transition-duration: 0.2s;      /*tempo de transição para mudança de cor dos links*/
}
/* :hover tag que faz mudar as configurações do elemento ao passar o mouse*/
nav > a:hover{
    background-color: var(--cor2);  /*nova cor para os links do navegador*/
    border-radius: 20px;            /*causa curva nas bordas das caixas*/
    color: black;                 /*nova cor para o texto dos links de nav*/
}




main{
    min-width: 300px;                                     /*largura minima*/
    max-width: 1000px;                                    /*largura maxima*/
    margin: auto;                                         /*ajuste automatico das margem*/
    margin-bottom: 30px;                                  /*tamanho da borda inferior*/
    padding: 20px;                                        /*tamanho da caixa*/
    background-color: white;                            /* cor da tela ou box*/
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.342);      /*sombra de caixa*/
    border-bottom-left-radius: 10px;                      /*tag para criar aredondamento de bordas das caixas lado esquerda*/
    border-bottom-right-radius: 10px;                     /*tag para criar aredondamento de bordas das caixas lado direita*/
    
    
}
div.video{
    background-color: var(--cor5);                  /*alteração das configurações de video...*/
    margin: 0px -20px 30px -20px;                   
    padding: 20px;
    padding-bottom: 57.5%;
    position: relative;
}
div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    
}

main h1 {
    color: var(--cor5);
    font-family: var(--fonte-androide);  
 
}

main p{
    margin: 15px 0px 15px 0px;      /*atributos de margem da caixa*/
    text-indent: 20px;              /* indicação de paragrafo (espaço)*/
    text-align: justify;            /* texto justificado ou alinhado*/
    font-size: 1em;                 /* tamanho da fonte*/
    line-height: 1.5em;             /* altura entre linhas*/
}
main strong{
    color: var(--cor4);
    font-weight: bold;              /*texto em negrito*/
    
}

main a{
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor1);
    border-radius: 0px 10px 10px 10px;
    padding: 2px 6px;
}
main a:hover{
    text-decoration: underline;
    color: var(--cor3);
}

main  h2{
    font-family: var(--fonte-androide);
    font-size: 1.3em;
    color: var(--cor4);
    background-image: linear-gradient(to right, var(--cor1), transparent);      /*degrade para direita da cor1 até transparencia*/
    text-indent: 8px;                                                           /* indicação de paragrafo (espaço)*/
}

main img{
    width: 100%;
}

main img.pequena{
    max-width: 350px;
    display: block;
    margin: auto;    
}
aside{
    background-color: var(--cor2);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.514);
}
aside > h3{
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;                  /*margem negativa*/
    border-radius: 10px 10px 0px 0px;

    
}

aside > ul{
    list-style-type: '\2714\00A0\00A0';      /*muda o estilo do icone de bolinha para sina de certo*/
    list-style-position: inside;             /*transfere as bolinhas da lista para dentro*/
    columns: 2;                              /*divide em duas colunas a lista*/

}

footer{
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
    color: var(--cor1);
}